@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.caption {
  display: block;
  font-style: italic;
  margin: 10px 10px 40px;
}

.post-content h1, .post-content h2, .post-content h3 {
  margin-top: 10px !important;
}

img {
  display: block;
  max-width: 85%;
  margin: 40px auto 0;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}

p {
  text-align: justify;
}
